.tutorial-cards{
  transition: 0.4s;
  
    
}
.tutorial-cards:hover{
      box-shadow: 0 4px 20px 0 rgba(6, 9, 15, 0.2);
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(12, 196, 134);
    border-radius: 30px;
}